{
  "plugins": ["fp", "prettier", "import"],
  "extends": [
    "airbnb-base",
    "plugin:jsx-a11y/recommended",
    "eslint-config-prettier",
    "prettier"
  ],
  "rules": {
    "no-use-before-define": 0,
    "consistent-return": 0,
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": ["TemplateLiteral"]
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "settings": {
    "import/core-modules": "test-utils",
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "jest": true,
    "node": true
  }
}
